[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genular"]
	path = genular
	url = https://github.com/cran/genular
[submodule "mulset"]
	path = mulset
	url = https://github.com/cran/mulset
